.section-item { font-size: 125%; }
.col-md-3 img { margin-top:40px; }
.section-item li { padding-top: 0.5em; padding-bottom: 0.5em; }
.navbar { font-size: 125%; }
.navbar-brand { font-size:150%; }
.flex-video iframe { width: 500; height  }